body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


* {
  font-family: 'roboto';
}


.buttonModify {
  color: white;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonModify:hover {
  background-color: #0056b3;
}

.buttonDelete {
  color: white;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonDelete:hover {
  background-color: #bd2130;
}

.buttonModify {
  color: white;
  background-color: #0c3e9f;
  border: 1px solid #0c3e9f;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonModify:hover {
  background-color: #0056b3;
}

.buttonDelete {
  color: white;
  background-color: #011e5c;
  border: 1px solid #011e5c;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonDelete:hover {
  background-color: #bd2130;
}

input::placeholder{
  padding-left: 1% !important;
}

